* {
  padding: 0;
  margin: 0;
}
html {
  background-color: #000;
}
a {
  text-decoration: none;
}
a:visited {
  color: #fff;
}
a:hover {
  cursor: pointer;
  color: blue;
}
.navDiv {
  width: 100%;
  border: 1px solid yellow;
}
