* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chelsea Market", cursive;
}
html {
  background-color: #000;
}
a {
  text-decoration: none;
}
a:visited {
  color: #fff;
}
a:hover {
  cursor: pointer;
}
.navDiv {
  width: 100%;
}
.overlay {
  transition-duration: 1s;
}

@keyframes typing {
  to {
    visibility: visible;
  }
}
@keyframes shift {
  0% {
    transform: translateX(1rem);
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(1rem);
  }
}
